@import '../../style/themes/index';
@import './mixin.less';

@btn-prefix-cls: ~'@{sen-prefix}-button';
@icon-prefix-cls: ~'anticon';

.@{btn-prefix-cls} {
  .btn();
  .btn-default();

  > span {
    display: inline-block;
  }

  &-secondary {
    .btn-secondary();
  }

  &-primary {
    .btn-primary();
  }

  &-warning {
    .btn-warning();
  }

  &-dashed {
    .btn-dashed();
  }

  &-dangerous {
    .btn-danger-default();
  }

  &-dangerous&-primary {
    .btn-danger();
  }

  &-dangerous&-link {
    .btn-danger-link();
  }

  &-link {
    .btn-link();
  }

  &-icon-only {
    .btn-square(@btn-prefix-cls);
    vertical-align: -3px;

    > .@{icon-prefix-cls} {
      display: flex;
      justify-content: center;
    }
  }

  &-circle {
    .btn-circle(@btn-prefix-cls);
  }

  &&-loading {
    position: relative;
    cursor: default;
    opacity: 0.35;
  }

  & > &-loading-icon {
    transition: width 0.3s @ease-in-out, opacity 0.3s @ease-in-out;

    .@{icon-prefix-cls} {
      padding-right: @padding-xs;
      animation: none;

      svg {
        animation: loadingCircle 1s infinite linear;
      }
    }

    &:only-child {
      .@{icon-prefix-cls} {
        padding-right: 0;
      }
    }
  }

  &&-block {
    width: 100%;
  }

  > .@{icon-prefix-cls} + span,
  > span + .@{icon-prefix-cls} {
    margin-left: @margin-xss;
  }
}
