@import '../../style/themes/index';

@permission-tree-select-prefix-cls: ~'@{sen-prefix}-permission-tree-select';

.@{permission-tree-select-prefix-cls} {
  position: relative;
  min-height: 200px;

  &-title {
    color: #0a1b39;
    font-size: 14px;
    margin-bottom: 12px;
  }

  &-auth-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: @primary-color;
    height: 12px;
    width: 12px;
    background-color: #f0f8ff;

    > .anticon {
      padding-right: 0 !important;
      font-size: 10.34px !important;
    }
  }
}
