@import '../../style/themes/index';

@modal-prefix-cls: ~'@{sen-prefix}-modal';

.@{modal-prefix-cls} {
  .ant-modal-content {
    border-radius: 8px;
  }

  .ant-modal-header {
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    padding: 24px;
  }

  .ant-modal-title {
    font-size: 20px;
    color: @grey-10;
  }

  .ant-modal-close {
    right: 24px;
    color: @grey-9;
  }

  .ant-modal-close-x {
    height: 70px;
    width: auto;
    line-height: 70px;
    font-size: 24px;
  }
  .ant-modal-footer {
    border-top: none;
    padding: 24px;
    .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
      margin-left: 12px;
    }
  }
  .ant-modal-body {
    max-height: calc(100vh - 80px - 70px - 80px);
    overflow-y: overlay;
  }
}
