@import '~antd/lib/style/color/colorPalette';

// color palettes

// -------- 蓝紫色 -----------
@blue-base: #2b6de5;
@blue-1: color(~`colorPalette('@{blue-6}', 1) `);
@blue-2: color(~`colorPalette('@{blue-6}', 2) `);
@blue-3: color(~`colorPalette('@{blue-6}', 3) `);
@blue-4: color(~`colorPalette('@{blue-6}', 4) `);
@blue-5: color(~`colorPalette('@{blue-6}', 5) `);
@blue-6: @blue-base;
@blue-7: color(~`colorPalette('@{blue-6}', 7) `);
@blue-8: color(~`colorPalette('@{blue-6}', 8) `);
@blue-9: color(~`colorPalette('@{blue-6}', 9) `);
@blue-10: color(~`colorPalette('@{blue-6}', 10) `);

// -------- 蓝紫色 -----------
@violet-base: #4a42f0;
@violet-1: color(~`colorPalette('@{violet-6}', 1) `);
@violet-2: color(~`colorPalette('@{violet-6}', 2) `);
@violet-3: color(~`colorPalette('@{violet-6}', 3) `);
@violet-4: color(~`colorPalette('@{violet-6}', 4) `);
@violet-5: color(~`colorPalette('@{violet-6}', 5) `);
@violet-6: @violet-base;
@violet-7: color(~`colorPalette('@{violet-6}', 7) `);
@violet-8: color(~`colorPalette('@{violet-6}', 8) `);
@violet-9: color(~`colorPalette('@{violet-6}', 9) `);
@violet-10: color(~`colorPalette('@{violet-6}', 10) `);

// -------- 紫色 -----------
@purple-base: #a140e7;
@purple-1: color(~`colorPalette('@{purple-6}', 1) `);
@purple-2: color(~`colorPalette('@{purple-6}', 2) `);
@purple-3: color(~`colorPalette('@{purple-6}', 3) `);
@purple-4: color(~`colorPalette('@{purple-6}', 4) `);
@purple-5: color(~`colorPalette('@{purple-6}', 5) `);
@purple-6: @purple-base;
@purple-7: color(~`colorPalette('@{purple-6}', 7) `);
@purple-8: color(~`colorPalette('@{purple-6}', 8) `);
@purple-9: color(~`colorPalette('@{purple-6}', 9) `);
@purple-10: color(~`colorPalette('@{purple-6}', 10) `);

// -------- 红色 -----------
@red-base: #f72231;
@red-1: color(~`colorPalette('@{red-6}', 1) `);
@red-2: color(~`colorPalette('@{red-6}', 2) `);
@red-3: color(~`colorPalette('@{red-6}', 3) `);
@red-4: color(~`colorPalette('@{red-6}', 4) `);
@red-5: color(~`colorPalette('@{red-6}', 5) `);
@red-6: @red-base;
@red-7: color(~`colorPalette('@{red-6}', 7) `);
@red-8: color(~`colorPalette('@{red-6}', 8) `);
@red-9: color(~`colorPalette('@{red-6}', 9) `);
@red-10: color(~`colorPalette('@{red-6}', 10) `);

// -------- 橙色 -----------
@orange-base: #f98206;
@orange-1: color(~`colorPalette('@{orange-6}', 1) `);
@orange-2: color(~`colorPalette('@{orange-6}', 2) `);
@orange-3: color(~`colorPalette('@{orange-6}', 3) `);
@orange-4: color(~`colorPalette('@{orange-6}', 4) `);
@orange-5: color(~`colorPalette('@{orange-6}', 5) `);
@orange-6: @orange-base;
@orange-7: color(~`colorPalette('@{orange-6}', 7) `);
@orange-8: color(~`colorPalette('@{orange-6}', 8) `);
@orange-9: color(~`colorPalette('@{orange-6}', 9) `);
@orange-10: color(~`colorPalette('@{orange-6}', 10) `);

// -------- 黄昏色 -----------
@gold-base: #f9aa06;
@gold-1: color(~`colorPalette('@{gold-6}', 1) `);
@gold-2: color(~`colorPalette('@{gold-6}', 2) `);
@gold-3: color(~`colorPalette('@{gold-6}', 3) `);
@gold-4: color(~`colorPalette('@{gold-6}', 4) `);
@gold-5: color(~`colorPalette('@{gold-6}', 5) `);
@gold-6: @gold-base;
@gold-7: color(~`colorPalette('@{gold-6}', 7) `);
@gold-8: color(~`colorPalette('@{gold-6}', 8) `);
@gold-9: color(~`colorPalette('@{gold-6}', 9) `);
@gold-10: color(~`colorPalette('@{gold-6}', 10) `);

// -------- 黄色 -----------
@yellow-base: #f9d806;
@yellow-1: color(~`colorPalette('@{yellow-6}', 1) `);
@yellow-2: color(~`colorPalette('@{yellow-6}', 2) `);
@yellow-3: color(~`colorPalette('@{yellow-6}', 3) `);
@yellow-4: color(~`colorPalette('@{yellow-6}', 4) `);
@yellow-5: color(~`colorPalette('@{yellow-6}', 5) `);
@yellow-6: @yellow-base;
@yellow-7: color(~`colorPalette('@{yellow-6}', 7) `);
@yellow-8: color(~`colorPalette('@{yellow-6}', 8) `);
@yellow-9: color(~`colorPalette('@{yellow-6}', 9) `);
@yellow-10: color(~`colorPalette('@{yellow-6}', 10) `);

// -------- 亮绿色 -----------
@lime-base: #80d40c;
@lime-1: color(~`colorPalette('@{lime-6}', 1) `);
@lime-2: color(~`colorPalette('@{lime-6}', 2) `);
@lime-3: color(~`colorPalette('@{lime-6}', 3) `);
@lime-4: color(~`colorPalette('@{lime-6}', 4) `);
@lime-5: color(~`colorPalette('@{lime-6}', 5) `);
@lime-6: @lime-base;
@lime-7: color(~`colorPalette('@{lime-6}', 7) `);
@lime-8: color(~`colorPalette('@{lime-6}', 8) `);
@lime-9: color(~`colorPalette('@{lime-6}', 9) `);
@lime-10: color(~`colorPalette('@{lime-6}', 10) `);

// -------- 绿色 -----------
@green-base: #1acb7c;
@green-1: color(~`colorPalette('@{green-6}', 1) `);
@green-2: color(~`colorPalette('@{green-6}', 2) `);
@green-3: color(~`colorPalette('@{green-6}', 3) `);
@green-4: color(~`colorPalette('@{green-6}', 4) `);
@green-5: color(~`colorPalette('@{green-6}', 5) `);
@green-6: @green-base;
@green-7: color(~`colorPalette('@{green-6}', 7) `);
@green-8: color(~`colorPalette('@{green-6}', 8) `);
@green-9: color(~`colorPalette('@{green-6}', 9) `);
@green-10: color(~`colorPalette('@{green-6}', 10) `);

// -------- 亮蓝色 -----------
@light-blue-base: #2ebbea;
@light-blue-1: color(~`colorPalette('@{light-blue-6}', 1) `);
@light-blue-2: color(~`colorPalette('@{light-blue-6}', 2) `);
@light-blue-3: color(~`colorPalette('@{light-blue-6}', 3) `);
@light-blue-4: color(~`colorPalette('@{light-blue-6}', 4) `);
@light-blue-5: color(~`colorPalette('@{light-blue-6}', 5) `);
@light-blue-6: @light-blue-base;
@light-blue-7: color(~`colorPalette('@{light-blue-6}', 7) `);
@light-blue-8: color(~`colorPalette('@{light-blue-6}', 8) `);
@light-blue-9: color(~`colorPalette('@{light-blue-6}', 9) `);
@light-blue-10: color(~`colorPalette('@{light-blue-6}', 10) `);

// -------- 中性色 -----------
@grey-base: #0a1b39;
@grey-1: fade(@grey-base, 2%);
@grey-2: fade(@grey-base, 4%);
@grey-3: fade(@grey-base, 6%);
@grey-4: fade(@grey-base, 8%);
@grey-5: fade(@grey-base, 15%);
@grey-6: fade(@grey-base, 25%);
@grey-7: fade(@grey-base, 35%);
@grey-8: fade(@grey-base, 60%);
@grey-9: fade(@grey-base, 80%);
@grey-10: @grey-base;
