@import '../../style/themes/index';

@prefix-cls: ~'@{sen-prefix}-input-search';

.@{prefix-cls} {
  .ant-input-suffix {
    margin-left: 0px;
  }
  .ant-input-search-icon {
    margin-left: 0px;
  }
  .ant-input-search-icon::before {
    border-left: none;
  }
}
